@font-face {
    font-family: 'GeneralSans-regular';
    src: url('./fonts/GeneralSans-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'GeneralSans-medium';
    src: url('./fonts/GeneralSans-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'GeneralSans-semibold';
    src: url('./fonts/GeneralSans-Semibold.woff2') format('woff2');

}

@font-face {
    font-family: 'MADEOuterSans';
    src: url('./fonts/MADEOuterSans-Medium.ttf') format('truetype');
}

$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;