@import './colors';
@import './variables';
@import './fonts';

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'GeneralSans-Medium', sans-serif;
    line-height: 1;
    background-color: $bgc-white;
    color: $text-black;
}

p {
    font-weight: $regular-weight;
}

a {
    text-decoration: none;
    color: $text-black;
}

main, nav {
    max-width:1768px;
    margin-inline: auto;
}

section {
    height: 100vh;
    // overflow: hidden;
}

span {
    &::after {
        content: '';
    }
}



.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}