@import './colors';
@import './variables';
@import './fonts';


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'GeneralSans', sans-serif;
    font-weight: $medium-weight;
    line-height: 1;
    background-color: $bgc-white;
    color: $text-black;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: $secondary-color;
}



::-webkit-scrollbar-thumb {
    background-color: $primary-color;
}



p {
    font-weight: $regular-weight;
}

a {
    text-decoration: none;
    color: $text-black;
}


section,
.navbar,
footer {
    max-width: 1920px;
    margin-inline: auto;
    padding-inline: 6.7rem;
    overflow: hidden;

    @media (max-width:1100px) {
        padding-inline: 5rem;
    }

    @media (max-width:725px) {
        padding-inline: 1.8rem;
    }
}

section:nth-child(1) {
    padding-top: 20rem;

    @media (max-width:1100px) {
        padding-top: 11.4rem;
    }
}

span {
    &::after {
        content: '';
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.padding-right {
    padding-right: 6.7rem !important;

    @media (max-width:1100px) {
        padding-right: 5rem !important;
    }

    @media (max-width:725px) {
        padding-right: 1.8rem !important;
    }
}

.padding-left {
    padding-left: calc(37.4rem - 6.7rem);


    @media (max-width:1350px) {
        padding-left: calc(37.4rem - 12.7rem);
    }

    @media (max-width:1150px) {
        padding-left: calc(37.4rem - 19rem);
    }


    @media (max-width:1100px) {
        padding-left: 0rem
    }
}

// swpier pagination

.swiper-pagination {
    position: static !important;
    margin-top: 2.5rem !important;

    @media (max-width:557px) {
        margin-top: 1rem !important;
    }
}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    border-radius: 0px !important;
    opacity: 1 !important;
    background: #EAEAEA !important;

    @media (max-width:557px) {
        width: 10px !important;
        height: 10px !important;
    }
}

.swiper-pagination-bullet-active {
    background: $primary-color !important;
}